html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'gt_pressurabold', normal;
}

.logo {
    font-weight: bolder;
    font-size: 10em;
}

.countdown {
    font-size: 3em;
    color: red;
    padding: 25px;
}

.container {
    height: 100%;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}